.user-profile{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height:calc(100vh - 30px);
    margin-top: 30px;
    font-family:"Roboto", sans-serif ;
    padding: 1rem;
}

.profile-details{
    display: flex;
    flex-direction: column;
    gap :6px;
    align-items: flex-start;
    margin-left:10px;
}

.profile-name{
    font-size: 1.5rem;
    font-weight: 600;
}

.profile-email{
    font-size: 1rem;
    font-weight: 400;
    color: #555;
}

.password-change-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 500px;
    margin-top:60px;
    padding: 40px;
    background-color: #6b63ff17;
    border-radius: 10px;
}

.password-change-container h2{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.old-password, .new-password{
    font-size:16px;
}

.password-change-form button{
    background-color:#6C63FF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
   
}

.password-change-form button:hover{
    background-color: #5a54e0;
}

.password-change-message{
    font-size: 14px;
    margin-top: -5px;
    margin-bottom: 15px;
    font-weight: 400;
}

.password-change-message.success{
    color: green;
}
.password-change-message.error{
    color: red;
}
  